@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: Roboto, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 390px;
  margin: 0 auto;
  background-color: #f2f4fc;
  border: solid;
}
.textarea {
  font-size: 17px;
}
.nav-bar,
.footer {
  margin: 50px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.logo-circle img {
  width: 60px;
}

.menu {
  width: 165px;
  font-size: 14px;
  font-weight: 500;
  color: #6b708d;
}

.menu ul {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.menu li {
  display: inline;
}

.button-box {
  font-size: 14px;
  color: white;
  width: 100px;
  height: 52px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  background-color: #072ac8;
}

.main {
  /*width: 310px;*/
  margin: 20px auto;
  display: flex;
  flex-flow: column;
}

.home {
  margin: 10px auto;
}

.title {
  /*width: 320px;*/
  margin: 0 20px;
  font-weight: 700;
  font-size: 45px;
  color: #292e47;
}

.home-description {
  margin: 20px 20px;
  font-weight: 400;
  color: #6b708d;
  line-height: 25px;
}
.box-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 10px;
}

.button-see-work {
  font-size: 14px;
  font-weight: 500;
  color: #6b708d;
  width: 150px;
  height: 52px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.hero {
  position: relative;
  left: 0;
  top: 0;
}

.hero-image {
  position: relative;
  left: 30px;
  top: 10px;
  width: 320px;
  margin: 0;
}
.top-card {
  visibility: hidden;
  width: 190px;
  position: absolute;
  left: 0;
  top: 25px;
}

.bottom-card {
  visibility: hidden;
  width: 190px;
  position: absolute;
  right: 0;
  bottom: -13px;
}

.client {
  filter: grayscale(100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 70px auto;
}
.client img {
  width: 50px;
}
.recent-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}
.title-section {
  font-weight: 700;
  font-size: 30px;
  color: #292e47;
  margin: 30px auto;
  padding: 0 20px;
}

.project {
  padding: 0px 0px;
  /*margin: 0px auto;*/
  margin: 10px auto;
  background-color: white;
  height: 500px;
}
.project-img {
  width: 390px;
  height: 290px;
  margin: 0px auto;
}

.project-title {
  margin: 20px auto;
  padding: 0 20px;
  font-weight: 700;
  font-size: 20px;
  color: #292e47;
}

.project-description {
  margin: 10px 0px 50px 0px;
  padding: 0px 20px;
  color: #6b708d;
  font-weight: 400;
}

.project-link {
  font-size: 17px;
  font-weight: 400;
  margin: 20px auto;
  padding: 0 20px;
  color: #072ac8;
  text-decoration: none;
}

.testimony-section {
  display: flex;
  flex-direction: column;
  background-color: #292e47;
  background-image: url(/Midterm_Project/project-assets/testimonial-section/orbit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 450px;
}
.first-avatar,
.last-avatar {
  display: flex;
  justify-content: space-around;
}
.first-avatar img,
.last-avatar img {
  width: 100px;
}

.testimony-body {
  margin: 0px auto 30px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.testimony-body h3 {
  color: #f4f6fc;
  font-weight: 700;
  font-size: 20px;
}
.testimony-body q {
  color: #ffc600;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px auto 0px auto;
}
.profile-info {
  display: flex;
  flex-direction: column;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.profile-info-name {
  color: #a2d6f9;
  margin: 0 auto;
}
.profile-info-web {
  font-size: 15px;
  margin: 0 auto;
}

.icono {
  width: 40px;
  /*height: 40px;*/
}
.service {
  height: 380px;
  width: 340px;
}

.service div {
  width: 80px;
  height: 80px;
  margin: 40px 30px 30px 30px;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #ecf7ff;
}
.cta-section {
  background-color: #ffc600;
  height: 450px;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta-container h3 {
  text-align: center;
}

.subscribe-section {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email {
  height: 52px;
  width: 200px;
  margin: 30px 0;
  background-image: url(/Midterm_Project/project-assets/newsletter/icon/mail.svg);
  background-repeat: no-repeat;
  background-position: 20px;
  padding-left: 76px;
  border: none;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.first-footer {
  width: 350px;
  height: 90px;
  color: #6b708d;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.second-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60px;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

.second-footer div {
  width: 100px;
  text-align: left;
  color: #6b708d;
}
.subtitle-date {
  font-size: 20px;
  color: #6b708d;
  padding: 10px;
}
.image-title {
  width: 390px;
}
.simplify-body p {
  padding: 10px;
  text-align: justify;
  line-height: 25px;
  color: #6b708d;
}
.contact-us-section {
  margin: 0 20px;
}
.form input,
.contact-us-section textarea{
  border: none;
  background-color: rgba(107, 112, 141, 0.1);
  height: 52px;
  width: 300px;
  padding: 0px 0px 0px 10px;
}

#submit {
  margin-top: 20px;
}
/*-----------------------------------------------------*/

@media only screen and (min-width: 650px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }

  .main,
  .client,
  .project-section,
  .footer {
    width: 1100px;
    margin: 100px auto;
  }

  .cta-section,
  .testimony-section {
    width: 1320px;
    margin: 0 auto;
  }
  .textarea {
    font-size: 20px;
  }
  .nav-bar {
    margin: 70px auto;
    width: 1100px;
  }
  .logo-circle img {
    width: 100px;
  }

  .menu {
    width: 295px;
    font-size: 17px;
  }
  .button-box {
    width: 150px;
    font-size: 17px;
  }

  .main {
    display: flex;
    width: 1100px;
    flex-flow: row;
  }

  .title {
    font-size: 60px;
    margin: 0 auto;
  }

  .home-description {
    width: 435px;
    height: 90px;
    line-height: normal;
    margin: 30px 0;
  }
  .box-section {
    display: flex;
    margin: 70px auto;
    justify-content: flex-start;
  }
  .button-see-work {
    font-size: 17px;
    margin: 0 40px;
  }

  .hero-image {
    width: 570px;
    left: 0;
    top: 0;
  }

  .top-card,
  .bottom-card {
    visibility: visible;
  }

  .client img {
    width: 130px;
    margin: 130px auto;
  }
  .recent-projects {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-section h3 {
    font-size: 40px;
    margin: 20px auto;
    padding: 0;
  }
  .project {
    height: 450px;
    margin: 0;
    padding: 0;
  }
  .project-img {
    width: 340px;
    height: 240px;
    margin: 0 auto;
  }
  .project-title {
    font-size: 24px;
  }
  .project-description {
    font-size: 20px;
  }
  .project-link {
    font-size: 20px;
  }
  .testimony-section {
    display: flex;
    flex-direction: row;
    height: 622px;
    margin: 0px auto;
    align-items: stretch;
  }

  .first-avatar,
  .last-avatar {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first-avatar img,
  .last-avatar img {
    width: 150px;
    margin: 20px auto;
  }
  .testimony-body {
    display: flex;
    height: 622px;
    align-items: center;
    justify-content: space-evenly;
  }
  .testimony-body h3 {
    font-size: 40px;
    text-align: center;
    padding: 40px 0 0 0;
  }
  .testimony-body q {
    font-size: 24px;
    text-align: center;
  }
  .profile {
    padding: 0 10px 40px 0;
  }
  .profile-info {
    padding: 0 0 0 10px;
  }
  .icono {
    width: 40px;
  }
  .service {
    height: 380px;
    width: 340px;
  }
  .cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .title-section {
    font-size: 40px;
  }
  .cta-container,
  .subscribe-section {
    display: flex;
    width: 1100px;
  }
  /*.cta-container p {
    font-size: 20px;
  }*/
  .subscribe-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .email {
    margin: 0 20px;
    font-size: 17px;
  }
  .footer {
    display: flex;
    flex-direction: row;
  }
  .first-footer {
    display: flex;
    align-items: flex-start;
    height: 120px;
    width: 270px;
  }
  .second-footer {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 500px;
  }
  .second-footer div {
    width: 150px;
  }
  .simplify-section {
    width: 1100px;
    margin: 0 auto;
  }
  .subtitle-date {
    display: flex;
    justify-content: space-between;
  }
  .simplify-body {
    width: 1100px;
    margin: 0 auto;
    position: relative;
  }
  .image-title {
    background-image: url(/Midterm_Project/project-assets/projects-section/1.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 444px;
    z-index: 4;
  }
  .image-title-bg {
    background-image: url(/Midterm_Project/project-assets/projects-section/1.jpg);
    background-size: cover;
    width: 100%;
    height: 444px;
    filter: blur(25px);
    z-index: 3;
  }
  .form {
    font-size: 20px;
  }
  .contact-us-section input {
    width: 1100px;
    box-sizing: border-box;
    height: 70px;
    font-size: 17px;
  }
  .contact-us-section textarea{
    box-sizing: border-box;
    width: 1100px;
    height: 200px;
  }
  .email-phone input {
    width: 530px;
  }
  .email-phone {
    display: flex;
    justify-content: space-between;
  }
  .contact-us-section button{
    width: 1100px;
  }
}
