@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: Roboto, sans-serif;
}

body {
  width: 750px;
  margin: 0 auto;
  background-color: #f2f4fc;
  border: solid;
}

.main{
  width: 700px;
  margin: 100px auto;
}

.nav-bar {
  margin: 70px auto;
  width: 700px;
  display: flex;
  flex-flow: row nowrap; /* flex direction && flex wrap*/
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 295px;
  font-size: 17px;
  font-weight: 500;
  color: #6b708d;
}

.menu ul {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.menu li {
  display: inline;
}

.button-box {
  font-size: 17px;
  color: white;
  width: 125px;
  height: 52px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  background-color: #072ac8;
}

.main {
  display: flex;
}

.title {
  width: 320px;
  font-weight: 700;
  font-size: 40px;
  color: #292e47;
}

.subtitle {
  width: 326px;
  font-weight: 400;
  font-size: 15px;
  color: #6b708d;
}
.box-section {
  display: flex;
}

.button-see-work {
  font-size: 17px;
  font-weight: 500;
  color: #6b708d;
  width: 150px;
  height: 52px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.hero {
  position: relative;
  left: 0;
  top: 0;
}

.hero-image {
  position: relative;
  left: 0;
  top: 0;
  width: 350px;
  margin: 0;
}

.top-card {
  width: 120px;
  position: absolute;
  left: 0;
  top: 25px;
}

.bottom-card {
  width: 120px;
  position: absolute;
  right: 0;
  bottom: -13px;
}

.client {
  filter: grayscale(100%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 130px auto;
}
.client img{
  width: 70px;
}

/*-----------------------------------------------------*/

@media only screen and (min-width: 850px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }

  .main,
  .client {
    width: 1100px;
    margin: 100px auto;
  }

  .nav-bar {
    margin: 70px auto;
    width: 1100px;
  }
 
  .button-box {
    width: 150px;
  }

  .title {
    width: 530px;
    font-size: 60px;
  }

  .subtitle {
    width: 435px;
    font-size: 20px;
  }
  .box-section {
    display: flex;
  }

  .hero-image {
    width: 570px;
  }

  .top-card {
    width: 190px;
  }

  .bottom-card {
    width: 190px;
  }

  .client img{
    width: 100px;
  }
}
